.view-products {
  padding: 20px 0px;
  overflow: scroll;
  /* height: 500px; */
}

.table-head {
  /* background: rgb(128, 128, 128); */
  border-radius: 4px;
  padding: 2px 10px;
  text-align: center;
}

.table-body {
  height: 480px;
  overflow-y: scroll;
}

.tabs {
  margin: 20px;
}
.tabs h4 {
  margin: 30px 0px 10px;
}

table {
  margin: 0 auto;
  width: auto;
  padding: 0px 10px;
  border: 0px solid black;
}

table thead th {
  border: 0px solid rgb(223, 223, 223);
  background: rgba(255, 255, 255, 0);
  color: rgb(8, 136, 175);
  text-align: left;
  min-height: 60px;
  min-width: 100px !important;
  font-size: 13px;
  /* padding: 2px 8px !important; */
  padding-left: 10px;

  vertical-align: middle;
}

table tbody td {
  border: 0px solid rgb(223, 223, 223);
  min-height: 60px;
  min-width: 100px;
  text-align: left;
  font-size: 13px;
  padding: 4px;
  padding-left: 10px;
  vertical-align: middle;
  color: rgb(65, 65, 65);
}

table td div {
  color: black;
  border-radius: 4px;
}

.bg-category {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(180, 180, 180);
  border-radius: 4px;
  padding: 2px;
  margin: 2px;
}
.bg-category td {
  color: rgb(15, 15, 15) !important;
}
.bg-sub-category {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(200, 200, 200);
  padding: 2px;
  margin: 2px;
}
.bg-sub-category td {
  color: rgb(0, 0, 0) !important;
}

.bg-product {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(200, 200, 200);
  padding: 2px;
  margin: 2px;
}
.bg-product td {
  color: #111 !important;
}
.bg-option{
  background: rgb(255, 255, 255);
  border: 1px solid rgb(190, 190, 190);
  padding: 6px;
  margin: 2px;
  color: black;
}
