<div class="home-page">
  <div class="container mt-4">
    <div class="row">
      <div class="col-sm-8">
        <div class="banner">
          <h1>Welcome!</h1>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit quis deserunt, accusamus excepturi pariatur, praesentium aperiam ad consequatur unde, recusandae maxime provident cumque? Consequatur cupiditate pariatur corporis commodi sapiente cum. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit quis deserunt, accusamus excepturi pariatur.</p>
          <span>account@gmail.com</span> <span> +94 7766-55-888</span><br>
          <button class="btn btn-warning text-light">
            View Products
          </button>
        </div>
      </div>
      <div class="col-sm-4">
      </div>

    </div>
  </div>

</div>