<div class="main-view-wrapper">
  <div class="row">
    <div class="heading">
      <h4>Main Category</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="detail">
        <h5 class="sub-heading">Details</h5>
        <div>
          <h6 class="label">Created</h6>
          <p class="data">2020 / 04 / 12</p>
        </div>
        <div>
          <h6 class="label">Last Updated</h6>
          <p class="data">2020 / 07 / 31</p>
        </div>
        <div>
          <h6 class="label">Number of Sub Categories</h6>
          <p class="data">6</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="update-form">
        <form
          [formGroup]="mainCategoryUpdateForm"
          (ngSubmit)="updateMainCategory()"
        >
          <div class="form-row">
            <h5 class="mb-4">Update the main category</h5>
            <div class="form-group col-md-12">
              <label>Main category name</label>
              <input
                [ngClass]="{
                  'is-invalid':
                    mainCategoryUpdateForm.get('name').errors &&
                    mainCategoryUpdateForm.get('name').touched
                }"
                class="form-control"
                formControlName="name"
              />
              <div class="invalid-feedback">Please enter a main category</div>
            </div>
          </div>
          <button
            class="btn btn-warning"
            [disabled]="!mainCategoryUpdateForm.valid"
            type="submit"
          >
            Update
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="sub-categories">
        <h5 class="sub-heading">Sub Categories</h5>
        <div class="grid-container">
          <div class="grid-item">1</div>
          <div class="grid-item">2</div>
          <div class="grid-item">3</div>
          <div class="grid-item">4</div>
          <div class="grid-item">5</div>
        </div>
      </div>
    </div>
  </div>
</div>
