.tabs {
  margin: 40px;
  font-size: 14px;
  width: auto;
  height: 300px;
  /* background: yellow; */
}

/* 
.tabs .tab-body {
  overflow: scroll;
  height: 100vh;
  background: green;
} */

.tabs #tab1 {
  overflow: scroll;
  height: 80vh;
  /* background: green; */
}
