<app-admin-nav></app-admin-nav>
<div class="tabs">
  <tabset>
    <!-- VIEW ALL -->
    <tab heading="All" id="tab1" class="tab-body">
      <app-admin-product-list></app-admin-product-list>
    </tab>

    <!-- PRODUCTS -->
    <tab heading="Products" id="tab2" class="tab-body">
      <app-admin-product-create></app-admin-product-create>
    </tab>

    <!-- CATEGORIES -->
    <tab heading="Categories" id="tab3" class="tab-body">
      <app-admin-category></app-admin-category>
    </tab>
  </tabset>
</div>
