 <!-- ** SIDEBAR MENU - ANGULAR COMPONENT ** -->
 <!-- <ng-sidebar-container> -->
    <!-- A sidebar -->
    <!-- <ng-sidebar #sidebar [(opened)]="opened"> -->
    <div>
        <p>Sidebar contents</p> 
        <ul>
          <li>This is a list</li>
          <li>This is a list</li>
          <li>This is a list</li>
          <li>This is a list</li>
          <li>This is a list</li>
        </ul>
        <ul>
          <li>This is a list</li>
          <li>This is a list</li>
          <li>This is a list</li>
          <li>This is a list</li>
          <li>This is a list</li>
        </ul>
        <ul>
          <li>This is a list</li>
          <li>This is a list</li>
          <li>This is a list</li>
          <li>This is a list</li>
          <li>This is a list</li>
        </ul>
    </div>
      <!-- <button (click)="sidebar.close()">Close sidebar</button> -->  
    <!-- </ng-sidebar> -->
    <!-- Page content -->
    <!-- <div ng-sidebar-content>
      <button (click)="sidebar.open()">Open sidebar</button>
      <button class="ml-5" (click)="toggleSidebar()">Toggle sidebar</button>
    </div> -->
  <!-- </ng-sidebar-container> -->

