.dropdown{
    /* line-height: 40px; */
}
.dropdown-menu{
    width: 100px;
    font-size: 14px;
}
.dropdown-toggle{
    font-size: 14px;
}

.switch-link{
    color: rgb(73, 73, 238);
    cursor: pointer;
}
.switch-link:hover{
    color: rgb(73, 73, 238);
    text-decoration: underline;
}
.btn-sign{
    color: rgb(94, 191, 255);
    font-size: 14px;
}
.btn-sign:hover{
    color: rgb(41, 121, 175);
    font-size: 14px;
}