<nav class="nav-admin navbar">
  <div class="left">
    <i
      *ngIf="loggedIn()"
      (click)="toggleSidebar($event)"
      class="menu-icon fa fa-bars fa-1x"
    ></i>
    <a class="navbar-brand mb-2" [routerLink]="['/']">
      HardShop <span class="batch">Control</span>
    </a>
  </div>
  <div class="right">
    <ul>
      <li *ngIf="!loggedIn()" class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/admin/sign']"
          routerLinkActive="active"
          >Sign</a
        >
      </li>
      <li>
        <div *ngIf="loggedIn()" class="dropdown show" dropdown>
          <a class="btn dropdown-toggle" dropdownToggle>
            {{ authService.username | titlecase }}
          </a>
          <div class="dropdown-menu" *dropdownMenu>
            <a class="dropdown-item" (click)="logout()"
              ><i class="fa fa-sign-out"></i> Logout</a
            >
          </div>
        </div>
      </li>
      <li>
        <div *ngIf="loggedIn()" class="profile">
          <div class="img">
            <img src="https://i.imgur.com/Ctwf8HA.png" alt="profile_pic" />
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
